<h1>Rubymeetup example application</h1>


<div id="times">
  <%= render 'times' %>
</div>

<%= raw flash[:notice] %>

<%= form_tag send_email_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :text %>
  <%= text_area_tag :text %>
  <br>
  <%= submit_tag 'Send' %>
<% end %>

<script>
  window.setInterval(function(){
    console.log('happened');
    $.ajax({
      type: "get",
      url: "time",
      datatype: "json"
    });
  }, 1000);
</script>
