<h1 class="text-center">Rubymeetup example application</h1>


<div id="times" class="text-center">
  <%= render 'times' %>
</div>
<br>
<div>
  <%= form_tag send_email_path, class: 'col-md-6 center-block', style: "margin: 0 25%;" do %>
    <% if flash.any? %>
      <p class="alert alert-info"><%= raw flash[:notice] %></p>
    <% end %>

    <div class="form-group">
      <%= text_field_tag :email, nil, placeholder: 'E-mail', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= text_area_tag :text, nil, placeholder: 'Your message...', class: "form-control", rows: 5 %>
    </div>
    <%= submit_tag 'Send', class: 'btn btn-primary' %>
  <% end %>
</div>

<script>
  window.setInterval(function(){
    console.log('happened');
    $.ajax({
      type: "get",
      url: "time",
      datatype: "json"
    });
  }, 1000);
</script>
